* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: hsla(0, 0%, 78%, 0.7);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 32px;
  padding: 0 9px;
  display: flex;
  border-bottom: solid 1px;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}

header h3 {
  margin: 0;
}

.user-changer{
  width: 40px;
  height: 18px;
  border: solid 1px;
  border-radius: 10px;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-changer::after{
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  transform: translate(1px, 0px);
  transition: all 0.3s ease-in-out;
}

.user-changer.active::after{
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  transform: translate(23px, 0px);
  transition: all 0.3s ease-in-out;
}


#sidebar {
  width: 0px;
  height: -webkit-fill-available;
  background-color: rgba(200, 200, 200, 0.7);
  position: fixed;
  left: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  top: 32px;
  visibility: hidden;
}

#sidebar.active {
  width: 200px;
  opacity: 1;
  visibility: visible;
}

#sidebar ul {
  padding: 0;
  margin: 0;
}

#sidebar li {
  border-bottom: 1px solid #000;
  font-size: 30px;
  height: 40px;
  text-align: center;
  list-style: none;
}

#sidebar li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.bar-holder {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bars {
  width: 16px;
  height: 2px;
  border-radius: 5px;
  background: black;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.bar1 {
  transform: translateY(-3px);
}

.bar2 {
  transform: translateY(3px);
}

.bar-holder.active .bar1 {
  transform: rotate(45deg) translate(2px, 1.5px);
}

.bar-holder.active .bar2 {
  transform: rotate(-45deg) translate(0px, 0.5px);
}

.mainbody {
  transform: translate(0px);
  transition: all 0.3s ease-in-out;
  width: calc(100%);
  padding: 30px;
  min-height: 100vh;
}

.mainbody.active {
  transform: translate(200px, 0);
  width: calc(100% - 200px);
}


#sign {
  background: white;
  border: solid 1px black;
  margin: auto;
  position: relative;
  top: 16%;
  padding: 28px;
  max-width: 311px;
  min-width: 280px;
  height: 350px;
  border-radius: 20px;
}

#sign-background {
  width: 100%;
  background: rgba(255,255,255,0.8);
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}


#sign form {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100% - 56px);
  justify-content: space-between;
}

#change-form p{
  margin: 0;
  width: max-content;
}

#change-form p:nth-child(1){
  cursor: default;
}

#change-form button {
  cursor: pointer;
  color: blue;
  border: 0;
  background: white;
  padding: 0;
  font-family: serif;
  font-size: 16px;
}

#sign button[type=submit]{
width: max-content;
margin: 0 0 0 auto;
}


#sign form label{
  display: flex;
  justify-content: space-between;
}

#close {
  border: 0;
  background: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  right: 16px;
  top: 15px;
  position: absolute;
}

.title{
  text-align: center;
  margin-top: 0;
}

button{
  cursor: pointer;
}



/* ABOUT */

#about img{
  width: 100%;
}



/* PRIKAZ */

.popis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.popis .element-popisa {
  width: 175px;
  display: flex;
  background: whitesmoke;
  border: solid 1px black;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  cursor: pointer;
}

.popis .element-popisa img {
  width: 100%;
  height: 125px;
  border-radius: 9px;
}

.prikaz-zivotinje {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.prikaz-zivotinje div:first-child{
  background: none;
  border: 0;
}

.prikaz-zivotinje #left-arrow , .prikaz-zivotinje #right-arrow{
background: none;
border: 0;
height: 45px;
}


.prikaz-zivotinje #left-arrow::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  transform: rotate(45deg) translate(2px, 8px);
  background: white;
}
.prikaz-zivotinje #left-arrow::before {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  transform: rotate(315deg) translate(2px, -8px);
  background: white;
}


.prikaz-zivotinje #right-arrow::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  transform: rotate(315deg) translate(-2px, 8px);
  background: white;
}
.prikaz-zivotinje #right-arrow::before {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  transform: rotate(45deg) translate(-2px, -8px);
  background: white;
}

.prikaz-zivotinje.active {
  display: block;
}

.prikaz-zivotinje #staticblock{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 27%;
}

.prikaz-zivotinje #zivotinja {
  background: white;
  display: grid;
  grid-template-rows:auto auto;
  grid-template-columns: auto auto;
  width: 350px;
  min-height: 333px;
  position: relative;
  border-radius: 30px;
  border: solid 2px black;
  padding: 8px;
}



.prikaz-zivotinje #zivotinja img {
  width: 180px;
  height: 170px;
  border: solid 2px black;
  border-radius: 30px;
}

.prikaz-zivotinje #zivotinja img + div {
  margin: 12px;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.prikaz-zivotinje #zivotinja img + div + div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 14px 14px 0;
  gap: 6px;
}

.prikaz-zivotinje #zivotinja p {
  margin: 0;
  word-wrap: break-word;
  max-width: 170px;
}

/* UNOS */

#post #unos {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  background: whitesmoke;
  border: solid 1px black;
}

#post #unos label{
  display: flex;
  flex-direction: column;
}

#post #unos label{
  width: 200px;
  margin: 10px;
}

#post #unos label:nth-child(2) {
  grid-column-start: 1;
  grid-row-start: 2;
}

#post #unos label:nth-child(2) div{
  display: flex;
}

#post #unos label:nth-child(2) div label {
  margin: 21px 10px;
  display: flex;
  width: min-content;
  flex-direction: row;
  align-items: center;
}

#post #unos label:nth-child(2) div label:nth-child(1) {
margin-left: 0;
}

#post #unos label:nth-child(3)  {
  grid-column-start: 2;
  grid-row-start: 2;
}

#post #unos label:nth-child(4)  {
  grid-column-start: 2;
  grid-row-start: 3;
}

#post #unos label:nth-child(5)  {
  grid-column-start: 1;
  grid-row-start: 3;
}

#post #unos label:nth-child(7)  {
  grid-column-start: 2;
  grid-row-start: 1;
}

#post #unos label input{
  margin-top: 3px;
}

#post #unos label:nth-child(2) , #post #unos label:nth-child(3)   {
  width: max-content;
  display: flex;
  align-items: flex-start;  
}

#post #unos label:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
  width: 100%;
}

#post #unos button {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 5;
  width:100px;
}




/* PUT UNOS */

#put{
  width: 330px;
}

#put #unos {
  display: grid;
  grid-template-columns: 182px 147px;
}

#put #unos label {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

#put #unos label input{
width: 100%;
margin: 2px;
}

#put #unos label:nth-child(2){
  grid-column-start: 1;
  grid-row-start: 3;
}

#put #unos label:nth-child(3) div{
  display: flex;
  align-items: flex-end;
}

#put #unos label:nth-child(3) div label{
margin: 0 3px;
gap: 0;
}

#put #unos label:nth-child(3){
  grid-column-start: 1;
  grid-row-start: 2;
  gap: 10px;
}

#put #unos label:nth-child(4){
  grid-column-start: 1;
  grid-row-start: 5;
}

#put #unos label:nth-child(4) input, #put #unos label:nth-child(9) input{
  width: min-content;
}


#put #unos label:nth-child(5){
  grid-column-start: 2;
  grid-row-start: 3;
}

#put #unos label:nth-child(6){
  grid-column-start: 1;
  grid-row-start: 4;
}

#put #unos label:nth-child(7){
  grid-column-start: 1;
  grid-row-start: 6;
  }

#put #unos label:nth-child(7) textarea{
height: 20px;
}

#put #unos label:nth-child(9) {
  grid-row-start: 5;
  grid-column-start: 1;
  left: 79px;
  position: absolute;
}

#put #unos button[type="submit"] {
  grid-column-start: 2;
  grid-row-start: 6;
  bottom: 21px;
  position: absolute;
  right: 10px;
  width: max-content;
}

#delete-animal {
  grid-column-start: 2;
  grid-row-start: 5;
  width: fit-content;
  position: absolute;
  right: 11px;
}

#filtri {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px 30px;
}

#filters-holder{
  display: flex;
  gap: 30px;
  flex-direction: row;
}

#filtri input[type="text"]{
  max-height: 20px;
}

#filter{
  display: flex;
  flex-direction: column;
  width: 80px;
}

#filter label{
  display: flex;
  justify-content: space-between;
}