* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: hsla(0, 0%, 78%, 0.7);
  position: sticky;
  top: 0;
  height: 32px;
  padding: 0 9px;
  display: flex;
  border-bottom: solid 1px;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}

header h3 {
  margin: 0;
}

.user-changer{
  width: 40px;
  height: 18px;
  border: solid 1px;
  border-radius: 10px;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-changer::after{
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  transform: translate(1px, 0px);
  transition: all 0.3s ease-in-out;
}

.user-changer.active::after{
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
  transform: translate(23px, 0px);
  transition: all 0.3s ease-in-out;
}


#sidebar {
  width: 0px;
  height: -webkit-fill-available;
  background-color: rgba(200, 200, 200, 0.7);
  position: fixed;
  left: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  top: 32px;
  visibility: hidden;
}

#sidebar.active {
  width: 200px;
  opacity: 1;
  visibility: visible;
}

#sidebar ul {
  padding: 0;
  margin: 0;
}

#sidebar li {
  border-bottom: 1px solid #000;
  font-size: 30px;
  height: 40px;
  text-align: center;
  list-style: none;
}

#sidebar li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.bar-holder {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bars {
  width: 16px;
  height: 2px;
  border-radius: 5px;
  background: black;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.bar1 {
  transform: translateY(-3px);
}

.bar2 {
  transform: translateY(3px);
}

.bar-holder.active .bar1 {
  transform: rotate(45deg) translate(2px, 1.5px);
}

.bar-holder.active .bar2 {
  transform: rotate(-45deg) translate(0px, 0.5px);
}

.mainbody {
  transform: translate(0px);
  transition: all 0.3s ease-in-out;
  width: calc(100%);
}

.mainbody.active {
  transform: translate(200px, 0);
  width: calc(100% - 200px);
}


#sign {
  background: white;
  border: solid 1px black;
  margin: auto;
  position: relative;
  top: 16%;
  padding: 28px;
  max-width: 311px;
  min-width: 280px;
  height: 350px;
  border-radius: 20px;
}

#sign-background {
  width: 100%;
  background: rgba(255,255,255,0.8);
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}


#sign form {
  display: flex;
  position: relative;
  flex-direction: column;
  height: calc(100% - 56px);
  justify-content: space-between;
}

#change-form p{
  margin: 0;
  width: max-content;
}

#change-form p:nth-child(1){
  cursor: default;
}

#change-form button {
  cursor: pointer;
  color: blue;
  border: 0;
  background: white;
  padding: 0;
  font-family: serif;
  font-size: 16px;
}

#sign button[type=submit]{
width: max-content;
margin: 0 0 0 auto;
}


#sign form label{
  display: flex;
  justify-content: space-between;
}

#sign #close {
  border: 0;
  background: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  right: 16px;
  top: 15px;
  position: absolute;
}



/* ABOUT */

#about img{
  width: 100%;
}